{% macro widget__insert_media(widget, library, context) %}
    {% import LAYOUT.view('core/form-elements').twigName() as forms %}
    {% import LAYOUT.view('admin/layout-editor').twigName() as layout %}
    {{ forms.input({label: "Width"|_, name: "#{context.prefix}[widgets][#{widget.id}][width]", value: widget.width|default('640'), field: "width-#{widget.id}"}) }}
    {{ forms.input({label: "Height"|_, name: "#{context.prefix}[widgets][#{widget.id}][height]", value: widget.height|default('320'), field: "height-#{widget.id}"}) }}
    {{ forms.hidden({name: "#{context.prefix}[widgets][#{widget.id}][src]", value: widget.src, field: "src-#{widget.id}"}) }}
    <div id="lib-images-{{ widget.id }}"></div>
    {% set type = 'images' %}
    {% set medialibConfig = {
    id: 'all_' ~ type,
        mode: 'images',
        type: 'images',
        title: 'Images',
        folder: 'media/product/images',
        config: {actions: {delete: {caption : 'Remove'}}}
    } %}

    {% set imageConfig = APP.instance('FCom_Admin_Controller_MediaLibrary').gridConfigLibrary({id: 'insert_media_main_grid' ~ widget.id}) %}

    {% set attachmentsConfig = {
        type: type,
        targetType: 'images',
        elementContainer: '#lib-images-' ~ widget.id,
        medialibConfig: medialibConfig,
        gridConfig: imageConfig
    } %}
    <!-- Att -->
    {{ THIS.view('core/attachmentgrid-griddle').set('config', attachmentsConfig) | raw }}
    <!-- Att end -->

    {{ layout.widget_custom_params(widget, library, context) }}
{% endmacro %}
