{% set featured = APP.instance('Sellvana_Catalog_Frontend').getFeaturedProducts(THIS.get('cnt')) %}

{% if featured %}
    <div class="f-widget f-widget-featured-prods">
        <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'Featured Products'|_ }}</strong>
        </header>

        <div class="f-widget-content">
            {{ THIS.view('catalog/product/grid-tiles').set({
                products: featured,
                simple_view: true,
                list_name: 'Featured Products',
            }) | raw }}
        </div>
    </div><!-- /.widget-featured-prods -->
{% endif %}