{% set order = THIS.get('order') %}
{% set orderItems = order.items() %}

{% import THIS.view('core/form-elements').twigName() as forms %}
{% set mergeFieldData = { id_prefix:'merge', name_prefix:'merge' } %}

{% set sessCustomer = APP.instance('Sellvana_Customer_Model_Customer').sessionUser() %}
{% if not sessCustomer %}
    {% set emailCustomer = APP.instance('Sellvana_Customer_Model_Customer').load(order.get('customer_email'), 'email') %}
{% endif %}

<div class="row f-mb-slideout-menu">
    <div class="col-sm-9 f-col-main">
        <header class="f-page-header">
            <h1 class="f-page-title">{{ "Orders" | _ }} #{{ order.get('unique_id') }} <span class="badge">{{ order.state().overall().getValueLabel()|_ }}</span></h1>
            <div class="pull-right">
                <form method="post" action="{{ APP.href('orders/repeat?id=' ~ order.get('unique_id')) }}">
                    <button type="submit" class="btn btn-primary">{{ 'Repeat Order'|_ }}</button>
                </form>
            </div>
            <a href="javascript:void(0);" id="button"
               class="f-mb-slideout-menu-toggle btn btn-default visible-xs">{{ 'Menu'|_ }}</a>
        </header>

        {% if orderItems %}
            <h4>{{ "Order items" | _ }}</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ "Info" | _ }}</th>
                        <th>{{ "Qty" | _ }}</th>
                        <th>{{ "Total" | _ }}</th>
                    </tr>
                    </thead>
                    {% for item in orderItems %}
                        <tr>
                            <td>{{ item.get('id') }}</td>
                            <td>{{ THIS.view('orders/item').set('item', item) | raw }} </td>
                            <td>{{ item.get('qty_ordered') }} </td>
                            <td>{{ item.get('row_total') | currency }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ "Shipping Address" |_ }}</th>
                        <th>{{ "Billing Address" |_ }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ order.addressAsHtml('shipping') | raw }}</td>
                        <td>{{ order.addressAsHtml('billing') | raw }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ "Shipping method" | _ }}</th>
                    <th>{{ "Payment method" | _ }}</th>

                </tr>
                </thead>
                <tr>
                    <td>{{ order.getShippingMethod().getName()|_ }} ({{ order.state().delivery().getValueLabel()|_ }})</td>
                    <td>{{ order.getPaymentMethod().getName()|_ }} ({{ order.state().payment().getValueLabel()|_ }})</td>
                </tr>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ "Subtotal" | _ }}</th>
                    <th>{{ "Grand Total" | _ }}</th>
                    <th>{{ "Balance Due" | _ }}</th>
                </tr>
                </thead>
                <tr>
                    <td>{{ order.get('subtotal') | currency }} </td>
                    <td>{{ order.get('grand_total') | currency }} </td>
                    <td>{{ order.get('amount_due') | currency }} </td>
                </tr>
            </table>
        </div>

        <!-- START: Merging order into account -->
        {% if sessCustomer %}
            {% if not order.get('customer_id') %}

                <a href="{{ APP.href('guest/add_to_account') }}" class="btn btn-primary">{{ 'Merge with your account'|_ }}</a>

            {% endif %}
        {% else %}
            {% if emailCustomer %}

                <a href="{{ APP.href('guest/add_to_account') }}" class="btn btn-primary">{{ 'Login to merge this order with your account'|_ }}</a>

            {% else %}

                {{ THIS.view('guest/create-account').set('order', order) | raw }}

            {% endif %}
        {% endif %}
        <!-- END: Merging order into account -->

    </div>
    {{ THIS.view('customer/account/sidebar').set('current', 'orders') | raw }}
</div>

<script>
    require(['jquery'], function ($) {
        $("#button").click(function () {
            $('.f-mb-slideout-menu .f-col-sidebar').toggleClass("open");
        });
    });
</script>
