{% set c = THIS.get('model') %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "Core Settings"|_}}</h2>

{{ forms.accordion_start({id:'settings-FCom_Core'}) }}

    {% set fieldData = { model:c, settings_module: 'FCom_Core' } %}
    {{ forms.accordion_panel_start({label:'Website'|_, id:'settings-FCom_Core-group1', in:1}) }}
        {{ forms.input(fieldData, { field:'company_name', label:'Company Name'|_ }) }}
        {{ forms.input(fieldData, { field:'site_title', label:'Site Title'|_ }) }}
        {{ forms.input(fieldData, { field:'admin_email', label:'Admin Email'|_, type:'email' }) }}
        {{ forms.input(fieldData, { field:'sales_name', label:'Sales Name'|_ }) }}
        {{ forms.input(fieldData, { field:'sales_email', label:'Sales Email'|_, type:'email' }) }}
        {{ forms.input(fieldData, { field:'support_name', label:'Support Name'|_ }) }}
        {{ forms.input(fieldData, { field:'support_email', label:'Support Email'|_, type:'email' }) }}
        {{ forms.input(fieldData, { field:'copyright_message', label:'Copyright Message'|_ }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Localization'|_, id:'settings-FCom_Core-group2'}) }}
        {{ forms.boolean(fieldData, { field:'limit_countries', label:'Limit Countries' }) }}
        {{ forms.select(fieldData, { field:'allowed_countries', label:'Allowed Countries'|_, options:LOCALE.getAvailableCountries(), select2: {}, multiple:1 }) }}
        {{ forms.select(fieldData, { field:'default_country', label:'Default Country'|_, options:LOCALE.getAvailableCountries(), select2: {} }) }}
        {{ forms.select(fieldData,  { field:'default_tz', label:'Default Timezone'|_, options:LOCALE.tzOptions(true), select2: {} }) }}
        {{ forms.select(fieldData,  { field:'base_locale', label:'Base Locale'|_, options:LOCALE.getAvailableLocaleCodes(), select2: {} }) }}
        {{ forms.input(fieldData,  { field:'base_currency', label:'Base Currency'|_ }) }}
        {{ forms.input(fieldData,  { field:'default_currency', label:'Default Currency'|_ }) }}
    {{ forms.accordion_panel_end }}

    {% set fieldData = { model: c, id_prefix:'config-cookie', name_prefix:'config[cookie]', get_prefix:'cookie' } %}
    {{ forms.accordion_panel_start({label:'Session'|_, id:'settings-FCom_Core-group4'}) }}
        {{ forms.select(fieldData,  { field:'session_handler', label:'Session Handler'|_, options:SESSION.getHandlers() }) }}
        {{ forms.input(fieldData,   { field:'remember_days', label:'Remember Me Timeout (days)'|_ }) }}
        {{ forms.input(fieldData,   { field:'domain', label:'Cookie Domain'|_ }) }}
        {{ forms.input(fieldData,   { field:'path', label:'Cookie Path'|_ }) }}
        {{ forms.input(fieldData,   { field:'session_namespace', label:'Cookie Namespace'|_ }) }}
        {{ forms.boolean(fieldData, { field:'session_check_ip', label:'Verify Session IP'|_ }) }}
    {{ forms.accordion_panel_end }}

{% if not REQUEST.get('site') %}
    {% set fieldData = { model: c, id_prefix:'db', name_prefix:'config[db]', get_prefix:'db' } %}
    {{ forms.accordion_panel_start({label:'DB Settings'|_, id:'settings-FCom_Core-group0' }) }}
        {{ forms.input(fieldData,   { field:'host', label:'Host'|_ }) }}
        {{ forms.input(fieldData,   { field:'port', label:'Port'|_ }) }}
        {{ forms.input(fieldData,   { field:'dbname', label:'Database'|_ }) }}
        {{ forms.input(fieldData,   { field:'username', label:'Username'|_ }) }}
        {{ forms.input(fieldData,   { field:'password', label:'Password'|_, value:c.get('db/password')?'*****':'', type:'password', placeholder:'*****' }) }}
        {{ forms.boolean(fieldData, { field:'logging', label:'Enable Logging'|_ }) }}
        {{ forms.boolean(fieldData, { field:'implicit_migration', label:'Implicit Migration'|_ }) }}
    {{ forms.accordion_panel_end }}

    {% set fieldData = { model:c, name_prefix: 'config[core][cache]', id_prefix: 'config-core-cache', get_prefix:'core/cache',
        options:{'':'Enable in staging or production modes'|_, 'enable':'Enable always'|_, 'disable':'Disable always'|_} } %}
    {{ forms.accordion_panel_start({ label:'Optimizations'|_, id:'settings-FCom_Core-group5'}) }}
        {{ forms.select(fieldData, { field:'manifest_files', label:'Module Manifest Files Cache'|_ }) }}
        {{ forms.select(fieldData, { field:'layout_files', label:'Layout Files Cache'|_ }) }}
        {{ forms.select(fieldData, { field:'view_files', label:'View Template Files Cache'|_ }) }}
        {{ forms.select(fieldData, { field:'twig', label:'Twig Cache'|_ }) }}
    {{ forms.accordion_panel_end }}
{% endif %}

    {% set fieldData = { model: c, id_prefix:'web', name_prefix:'config[web]', get_prefix:'web' } %}
    {{ forms.accordion_panel_start({label:'Web Settings'|_, id:'settings-FCom_Core-group6'}) }}
        {{ forms.select(fieldData, { field:'hide_script_name', label:'Hide script file name in URL'|_, options:{'':'', 0:'No', 1:'Automatic', 2:'FORCE'} }) }}
        {{ forms.input(fieldData,   { field:'http_host_whitelist', label:'HTTP Host Whitelist (comma separated)'|_ }) }}
        {{ forms.input(fieldData,   { field:'force_domain', label:'Force Domain Name'|_ }) }}
        {{ forms.boolean(fieldData, { field:'force_https', label:'Force HTTPS'|_ }) }}
        {{ forms.select(fieldData,  { field:'csrf_check_method', label:'CSRF Check Method'|_, options:REQUEST.getAvailableCsrfMethods() }) }}
        {{ forms.input(fieldData,   { field:'csrf_web_root', label:'CSRF Referrer Web Root Path (optional)'|_ }) }}
        {{ forms.boolean(fieldData, { field:'hsts_enable', label:'Enable HSTS header (HTTP Strict Transport Security)'|_ }) }}
    {{ forms.accordion_panel_end }}

    {% set fieldData = { model: c, id_prefix:'staging', name_prefix:'config[staging]', get_prefix:'staging' } %}
    {{ forms.accordion_panel_start({label:'Staging Environment'|_, id:'settings-FCom_Core-group7'}) }}
        {{ forms.boolean(fieldData, { field:'email_to_override', label:'Override All Emails Destination'|_ }) }}
        {{ forms.input(fieldData,   { field:'email_to_override_address', label:'Emails Destination Address'|_ }) }}
        {{ forms.boolean(fieldData, { field:'email_subject_prepend', label:'Prepend All Emails Subject'|_ }) }}
        {{ forms.input(fieldData,   { field:'email_subject_prepend_prefix', label:'Emails Subject Prefix'|_ }) }}
    {{ forms.accordion_panel_end }}


{{ forms.accordion_end }}
