{% set m = THIS.get('model') %}
{% set gridConfig = APP.instance('Sellvana_Sales_Admin_Controller_Orders').returnsGridConfig(m) %}

{% import THIS.view('core/form-elements').twigName() as forms %}
<div class="f-section">
    {{ forms.textarea({ id:'return-items', name:'return[items]', label:'Return Items (SKU:QTY)'|_}) }}
</div>

{{ THIS.view('core/backbonegrid').set('grid', gridConfig) | raw }}