{% set m = THIS.get('model') %}
{% set gridConfig = APP.instance('Sellvana_Sales_Admin_Controller_Orders').shipmentsGridConfig(m) %}

{{ THIS.view('core/backbonegrid').set('grid', gridConfig) | raw }}