{% set loggedIn = APP.instance('Sellvana_Customer_Model_Customer').isLoggedIn() %}
{% set priceView = THIS.view('catalog/product/price') %}
{% set addToCartUrl = THIS.url('cart/add') %}

{% set listId = 'product-list-container-' ~ UTIL.randomString(10) %}

<div class="js-ga-product-list" id="{{ listId }}">
{% for p in THIS.get('products') %}
    {% set productName = p.getName() %}
    {% set productUrl = p.url(THIS.get('category')) %}
  <div class="row js-product-container" data-product-id="{{ p.id() }}">
    {% if p.get('base_price') != p.get('sale_price') and p.get('sale_price') != 0 %}
        <span class="sale tooltip-test">{{ 'Sale'|_ }}</span>
    {% endif %}
    <div class="f-col-listing-prod-img col-sm-4">
      <a data-toggle="modal" href="#f-prod-quickview" class="btn btn-info btn-xs f-prod-quickview-btn" data-id="{{ p.id() }}">{{ 'Quick View'|_ }}</a>
      <a href="{{ productUrl }}" class="f-prod-img js-ga-product-view-trigger">
        <img alt="{{ productName }}" src="{{ p.thumbUrl(350, 350) }}"/>
      </a>
    </div>
    <div class="caption col-sm-8">
      <a href="{{ productUrl }}" class="f-prod-name js-ga-product-view-trigger">{{ productName }}</a>
      {{ THIS.view('catalog/product/price').set('product', p) | raw }}
      <div class="f-prod-short-description">
        {{ p.getShortDescription() }}
      </div>
      <form method="post" action="{{ addToCartUrl }}" class="hidden-xs">
        <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="qty" value="1">
        <p>
          <button type="submit" name="id" value="{{ p.id() }}" onclick="return true; FCom.cart.add({{ p.id() }}, 1); return false" class="btn btn-primary btn-sm">{{ 'Add to Cart'|_ }}</button>
          <a href="{{ productUrl }}" class="btn btn-link btn-sm">{{ 'View Details'|_ }}</a>
          <a href="{{ APP.href('wishlist/add?id=') ~ p.id() }}" class="btn btn-link btn-sm" rel="nofollow">{{ 'Add to Wishlist'|_ }}</a>
            {{ THIS.view('catalog/compare-link').set('product_id', p.id()) | raw }}
        </p>
      </form>
    </div>
  </div>
{% endfor %}
</div>

{{ THIS.hook('catalog_list_rows', {
    products: THIS.get('products'),
    list_name: THIS.get('list_name'),
    list_id: listId,
}) | raw }}